
:root{
    --main-red: #FF1F20;
    --main-blue: #353B81;
    --main-white: #FFFFFF;
    --main-yellow: #FBD744;
    --pkmn-font: 'Pokemon Hollow', sans-serif;
    --vg-font: 'Press Start 2P', cursive;
    --vg-font2: 'Raleway', sans-serif;
}

body{
    background-color: var(--main-blue);
    color: white;
    max-height: 1000px;

}


.content-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    
}

h1{
    font-size: 5rem;
    font-family: var(--pkmn-font);
    color: var(--main-white);
    margin-bottom: 0;

}

#play-btn{
    height: 6rem;
    width: 12rem;
    font-family: var(--vg-font);
    font-size: 2.5vh;
    color: var(--main-white);
    outline: solid 5px black;
    background-color: var(--main-red);
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    

}

#play-btn:hover{
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;

}
/* Pokemon info/Middle section */

.pokemon-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    align-items: center;
    max-width: 1600px;

}

#win-streak{
    width: 15rem;
    text-align: center;
   font-family: var(--vg-font);
    font-size: 1.5rem;
}

#pokemon-img{
    height: 30rem;
    padding: 2rem;
    opacity: 0.8;


}

#info-list{
  list-style: none;
  width: 15rem;

  font-family: var(--vg-font);
}

#info-list li{
    padding-bottom: 0.8rem;
}
#info-list li#name{
    font-size: 2rem;
   
}
#ability p{
    margin: 0;

}
#pkmn-stats{
    font-size: .65rem;
}

#stat-list{
    list-style: none;
    padding-top: 0.8rem;
}

/* user submit area */
#user-input-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50rem;
    
    
}
#pkmn-form label{
    font-family: var(--pkmn-font);
    font-size: 2rem;
    
}

#user-input{
    background-color: black;
    color: rgb(202, 202, 192);
    outline: 1px solid var(--main-white);
    border-radius: 7px;
    font-size: 1rem;
    height: 2.2rem;
    width: 10rem;
    margin: 0 1rem;
   
    
}

#submit-btn{
    font-family: var(--vg-font);
    font-size: 1rem;
    color: var(--main-white);
    outline: solid 3px black;
    background-color: var(--main-red);
    border-radius: 7px;
    padding: 0.9rem;
    transition: 0.2s ease-in-out;
    
}
#submit-btn:hover{
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;

}


#user-input-section p{
    font-family: var(--vg-font);
    font-size: 3rem;
    color: var(--main-red);
    text-align: center;
    
}




.hidden{
    visibility: hidden;
}



